gluewc
*.o
*-protocol.c
*-protocol.h
.ccls-cache
config.h
core
core.*
compile_commands.json
tests/vkbd
tests/wshot
tests/vptr
tests/*.ppm
tests/wlpower
tests/wlpower.c
tests/wlr-output-power-management-unstable-v1.xml
